@font-face{
    font-family: "Rockstar";
    src: url("../font/RockStar-Light.woff2") format("woff2"),
         url("../font/RockStar-Light.woff") format("woff");
    font-style: normal;
    font-weight: regular;
}

@font-face{
    font-family: "Rockstar";
    src: url("../font/RockStar-SemiBold.woff2") format("woff2"),
         url("../font/RockStar-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "Metro Nova";
    src: url("../font/0beca509-b62a-49c5-bc79-57344e00c5ae.woff2") format("woff2"),
         url("../font/969ff0b9-0f7c-4b65-a9c2-839849ffb133.woff") format("woff");
    font-style: normal;
    font-weight: regular;
}

@font-face{
    font-family: "Metro Nova";
    src: url("../font/e0cadafe-af3d-4d26-bc6b-3e272ebfb87a.woff2") format("woff2"),
         url("../font/a8179324-e684-440f-a7c4-42006055da74.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}