@font-face{
    font-family: "Rockstar";
    src: url("../font/RockStar-Light.woff2") format("woff2"),
         url("../font/RockStar-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Rockstar";
    src: url("../font/RockStar-SemiBold.woff2") format("woff2"),
         url("../font/RockStar-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "Luba LT W04";
    src: url("../font/f41f48e8-ce85-412c-b80d-8aeeff9ab014.woff2") format("woff2"),
         url("../font/eae885c8-4a55-4c13-af84-704dbff1dde4.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Luba LT W04";
    src: url("../font/07c01cb9-fea4-4e7b-933b-4d19a8f0889f.woff2") format("woff2"),
         url("../font/82f0fd5e-5f5d-4f45-b520-bedfab1c9105.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
